body {
	font-family:"微软雅黑" !important;
}

.qqBox{
    width: 798px;
    height: 600px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.BoxHead{
    width: 100%;
    height: 52px;
    background: url(../img/box_head.jpg) no-repeat;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.headImg{
    width: 44px;
    height: 44px;
    border-radius: 60%;
    margin:0 10px;
}
.headImg img{
    width: 100%;
    height: 100%;
    border-radius:50%;
}
.internetName{
    width: auto;
    height: 52px;
    line-height: 52px;
    color: white;
}
.context{
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.conLeft{
    width: 200px;
    height:548px;
    overflow: auto;
    background: #fafafa;
}
.conLeft::-webkit-scrollbar{
    width: 0;
}
.conLeft ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.conLeft li{
    width: 100%;
    height: 62px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.conLeft li .liLeft{
	position: relative;
    width:30%;
    height: 100%;
}
.liLeft img{
    margin: 10px;
    width: 42px;
    height: 42px;
}
.liRight span{
    display:block;
    font-size: 16px;
    height: 31px;
    line-height: 31px;
}
.liRight span:last-child{
    font-size: 14px;
    color: #767676;
    line-height:15px;
    overflow: hidden;
}
.conRight{
    -webkit-box-flex: 1;
    display: none;
    -webkit-box-orient: vertical;
}
.Righthead{
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #ccc;
}
.headName{
    width: auto;
    height: 100%;
    line-height: 42px;
    margin-left: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    float: left;
}
.headConfig{
    width: 20%;
    float: right;
    height: 100%;
    
}
.headConfig ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.headConfig li{
    margin:10px 5px;
}
.RightCont{
    -webkit-box-flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.RightCont::-webkit-scrollbar{
    width: 15px;
}
.RightCont ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.RightCont li{
    width: 100%;
    /* height: 42px; */
    /*display: -webkit-box;
    -webkit-box-orient: horizontal;*/
    margin-top: 10px;
}
.nesHead{
    border-radius: 50%;
    margin-left:10px ;
    float: left;
}
.nesHead img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.news{
    /* width: 300px; */
    word-wrap: break-word;
    background: #eeeeee;
    padding:5px 16px;
    margin: 4px;
    line-height: 24px;
    font-size: 14px;
    border-radius:10px;
    /* margin-left: 180px; */
    position: relative;
    float: left;
    text-align:left;
}
.news .jiao{
    position: absolute;
    left: -8px;
    top: 10px;
}
.ExP img{
	width: 21px;
    height: 18px;
    margin-top: 2px;
    cursor: pointer;
}
.Expr{
    width: 60px;
    height: 60px;
    margin: 5px;
}
.answerHead{
    border-radius: 50%;
    margin-left:15px ;
    float: left;
}
.answerHead img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.answers{
    /* width: 300px; */
    word-wrap: break-word;
    background: #eeeeee;
    padding:5px 16px;
    margin: 4px;
    line-height: 24px;
    font-size: 14px;
    border-radius:10px;
    margin-left: 10px;
    /* margin-right: 170px; */
    position: relative;
    float: right;
}
.answers .jiao{
    position: absolute;
    right: -8px;
    top: 10px;
}
.RightFoot{
    width: 100%;
    height: 118px;
    border-top: 1px solid #ccc;
    position: relative;
}
.emjon{
    width: 425px;
    height: 250px;
    border: 1px solid #ccc;
    position: absolute;
    left:0;
    top:-250px;
    display: none;
    background: #fff;
}
.emjon ul{
    list-style: none;
    margin:0;
}
.emjon ul li{
    width: 50px;
    height: 50px;
    margin: 5px;
    float: left;
    
}
.emjon ul li:hover{
box-shadow:5px 5px 5px #888888;
transform: scale(1.2);
    
}
.emjon ul li img{
    width: 100%;
    height: 100%;
    
}
.footTop{
    width: 100%;
    height: auto;
}
.footTop ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.footTop li{
    margin: 5px 5px;
}
.sendBtn{
    width: 68px;
    height: 25px;
    background: #0188fb;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}
.bg{
    background: #ebebec;
}
.hidden-userId{
    display:none !important;
}
.hidden-groupId {
	display:none !important;
}
.newsList-temp {
    display:none !important;	
}
.send-file-shown {
    width: 250px; 
    margin-left:277px; 
    float:left;
    border-radius: 10px;
    background: #eeeeee;
    padding: 8px 20px;
}
.receive-file-shown {
    width: 250px;
    margin-right: 262px !important;
    float:right;
    border-radius: 10px;
    background: #eeeeee;
    padding: 8px 20px;
}
.badge-avatar {
	margin: 0px 0px 0px 42px;
    position: absolute !important;
}
.logout {
	margin-left: 625px;
    margin-bottom: 20px;
    opacity: 0.5 !important;
}
.file-upload {
	cursor: pointer;
}